
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section{
    width: 80%;
}

label{
    display: flex;
    justify-content: space-between;
}

.medicamentos{
    margin-top: 20px;
    width: 70%;
    height: 30px;
    border: 2px solid var(--secondary-color);
    color: black;
    font-family: 'ciclesemi';
    font-size: 16px;
}

input::placeholder{
    padding: 10px;
    color: black;
    opacity: 0.7;
}

.dosis{
    margin-top: 20px;
    width: 60px;
    height: 30px;
    border: 2px solid var(--secondary-color);
    color: black;
    font-family: 'ciclesemi';
    font-size: 16px;
}


.pdf{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.sendButton3{
  width: 50px;
  height: 50px;
  border-radius: 100px;
  margin-left: 45%;
  margin-top: 30px;
  margin-bottom: 20px;
  border: 1px solid var(--title-color);
  background-color: var(--title-color);
}

.back-icon {
  margin: auto 30px;
  padding: 0px;
}
.back-icon::after{
  left: 20px;
  float: left;
  width: 200%;
  content: url(../imagenes/back.png);
}

header >.logoHeader{
  margin-left: 15%;
}
