
main{
    display: flex;
    justify-content: center;
    font-family: 'ciclegordita';
}
section{
    width: 80vw;
    height: 100vh;
}

#containerChecbox {
  display: block;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
div label input {
   margin-right:100px;
}

.ck-button {
  display: flex;
  align-items: center;
  margin:4px;
  background-color:#EFEFEF;
  border-radius:14px;
  border:1px solid #D0D0D0;

}

.ck-button > label {
  margin: auto;
  width:100px;
  height: 50px;
  align-items: center;
}

.ck-button > label span {
  width: 100%;
    text-align:center;
    display:block;
}

.ck-button > label input {
    position:absolute;
    top:-20px;
}

.ck-button input:checked + span {
    color:var(--main-color);
}


label{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;

}

.labelEat{
    display: flex;
    flex-direction: column;
}

.inputUp{
    border: 0;
    background-color: var(--secondary-color) ;
    border-radius: 10px;
    height: 35px;
    width: 80px;
}


.formGluco{
    margin-top:40px;

}
