<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SugarType</title>
    <link rel="stylesheet" href="../CSS/style.css">
    <link rel="stylesheet" href="../CSS/style3.css">
</head>
<body>
<header class="headerControl">
    <img src="../imagenes/Logo.png" alt="" class="logoHeader">
</header>
<main>
    <section>

        <form action="" class="formGluco" id = "formGluco">
          <div id="containerChecbox">
            <div class="ck-button">
               <label>
                  <input class="checkboxInput" type="checkbox" value= "Desayuno" name="comida"><span>Desayuno</span>
               </label>
             </div>
             <div class="ck-button">
                <label>
                   <input class="checkboxInput" type="checkbox" value= "Almuerzo"name="comida"><span>Almuerzo</span>
                </label>
              </div>
             <div class="ck-button">
                <label>
                   <input class="checkboxInput" type="checkbox" value= "Cena"name="comida"> <span>Cena</span>
                </label>
              </div>
          </div>

            <label for="">Glucometría preprandial <input type="text" required placeholder=""class="inputUp" id = "glucoPreprandial"></label>
            <label for="" class="labelEat"> Alimentos consumidos <textarea rows="10" cols="50" required id = "foods"></textarea></label>
            <label for="">Carbohidratos totales: <input type="text" required class="inputUp" id = carbohydrates></label>
            <label for="">Glucometría 2 horas después: <input type="text" required class="inputUp" id = "glucoPostprandial"></label>
            <input class="checkboxPeriodo" type="checkbox" value= "Sí"name="periodo"> ¿Se encuentra en su periodo?
            <button type="submit" class= "sendButton sendButton2">Enviar</button>
        </form>

    </section>
</main>

    <script type= "module" src="../main.js"></script>
    <script type= "module" src="../firebaseconfig.js"></script>
    
</body>
</html>
