<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SugarType</title>
    <link rel="stylesheet" href="../estilos/style.css">
    <link rel="stylesheet" href="../estilos/style5.css">
</head>
<body>
  <header class="headerControl">
    <a  class="back-icon" href="micontrol2.html"></a>
    <img src="../imagenes/Logo.png" alt="" class="logoHeader">
  </header>
<main>
    <h1 class= "tittles">MEDICAMENTOS</h1>
    <section class="sectionMedicamentos">
        <h3>Medicamentos actuales del paciente</h3>
        <form class="mediForm">
            <label for=""><input type="text" required placeholder="Medicamento" class="medicamentos">
                <input type="text" required placeholder="Dosis" class="dosis"></label>
            <label for=""><input type="text" required placeholder="Medicamento" class="medicamentos">
                <input type="text" required placeholder="Dosis" class="dosis"></label>
            <label for=""><input type="text" required placeholder="Medicamento" class="medicamentos">
                <input type="text" required placeholder="Dosis" class="dosis"></label>
            <label for=""><input type="text" required placeholder="Medicamento" class="medicamentos">
                <input type="text" required placeholder="Dosis" class="dosis"></label>
            <button type= 'submit' class= "sendButton3"><img src="../imagenes/edit.png" alt=""></button>
        </form>
    </section>
    <section class="pdf">
        <h3>¿Desea descargar PDF con record de medicamentos?</h3>
        <button type="button" class= 'sendButton sendButton2'>PDF</button>
    </section>
</main>




    <script type= "module" src="../main.js"></script>

</body>
</html>
