@font-face {
    font-family: 'lemon_milkregular';
    src: url('/fonts/LEMONMILK-Regular.otf') format('woff2');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ciclegordita';
    src: url('/fonts/cicle_gordita-webfont.woff2') format('woff2'),
         url('/fonts/cicle_gordita-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ciclesemi';
    src: url('/fonts/cicle_semi-webfont.woff2') format('woff2'),
         url('/fonts/cicle_semi-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --main-color: #058C99;
    --title-color: #28655A;
    --secondary-color: #8AC8C0;
    --orange-color: #EB6D30;
    --orangeS-buttons: #F19E76;
    --purple-color: #8E356A;
    --pink-color: #E390C2;
    --green-color: #A3D35F;
    --button-radius: 14px;
}

*{
    margin:0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: 'ciclesemi';
}

.headerControl{
    background-color: var(--main-color);
    width: 100%;
    height: 50;
    display: flex;
    justify-content: flex-start;
}

.headerNutricion{
    background-color: var(--orange-color);
    width: 303px;
    height: 50;
    display: flex;
    justify-content: space-around;
}

.headerComunidad{
    background-color: var(--purple-color);
    width: 303px;
    height: 50;
    display: flex;
    justify-content: space-around;
}

.tittles {
    color:var(--title-color);
    font-family: 'lemon_milkregular';
    font-weight: lighter;
    font-size: 40px;
    border-bottom: 3px solid var(--secondary-color);
    padding: 30px 0px 30px;
    margin: 20px;
}

.logoHeader{
    width: 86px;
    height: 61px;
    margin-left: 15%;
}


.bodyLogIn{
    background-color: var(--main-color);
    width: 100%;
    height: auto;
}

.contenedorLogin {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.logoLogin {
    text-align: center;
    background-color: var(--main-color);
    max-width: 500px;
    margin-top: 100px;
}

.imagenLogin {
    width: 200px;
    height: auto;
    justify-content: center;
    margin: auto;
}

.gridLogin {
    background-color: var(--main-color);
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    margin: auto;
    padding-top: 80px;
    justify-content: space-around;
}

.filded{
    background-color: var(--main-color);
    margin-top: 20px;
    width: 300px;
    height: 40px;
    border-radius: 25px;
    border: 2px solid white;
    color: white;
    font-family: 'ciclesemi';
    font-size: 16px;
}

::placeholder {
    padding-left: 20px;
    color: rgb(253, 253, 253);
    opacity: 1;
}

.sendButton {
    background-color: var(--green-color);
    padding: 10px;
    margin-top: 20px;
    width: 300px;
    height: 40px;
    border-radius: 25px;
    color: black;
    border: 2px solid var(--green-color);
    display: flex;
    justify-content: space-around;
    font-family: 'ciclegordita';
    font-size: 16px;
    font-weight: bold;
}

.sendButton2 {
    background-color: var(--secondary-color);
    color: white;
    border: 2px solid var(--secondary-color);
}

.back-icon {
  margin: auto 30px;
  padding: 0px;
}
.back-icon::after{
  left: 20px;
  float: left;
  width: 200%;
  content: url(../imagenes/back.png);
    cursor: pointer;
    
}

#mensajeInicio{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    color:black;
    cursor: pointer;
}

#mensajeRegistro{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    color:black;
    cursor: pointer;
}

#signIn{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    text-align: center;
    color: white;
}

#signIn > a {
    text-decoration: none;
    color: rgb(238, 213, 159);
    font-size: 16px;
}

#containerRegistry{
    display: none;
}

                       
                       
                       
                       
                       
                       
                       
                       
                       
                       
                       
                       
                       
                       
                       
                       
                       
                       
                       
                       
                       
                       
                       
                       
                       
                       
                       
                       
                       
                       
                       
                       
                       
                       
                       
                       
                       
                       
                       
                       
                       
                       
                       
                       
                       
                       
                       
                       
                       
                       
                       
                       
                       
                       
