@font-face {
    font-family: 'lemonmilk';
    src: url('./fonts/LEMONMILK-Regular.otf') format('woff2');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ciclegordita';
    src: url('./fonts/cicle_gordita-webfont.woff2') format('woff2'),
         url('./fonts/cicle_gordita-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ciclesemi';
    src: url('./fonts/cicle_semi-webfont.woff2') format('woff2'),
         url('./fonts/cicle_semi-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --main-color: #32776E;
    --secondary-color: #8AC8C0;
    --orange-color: #EB6D30;
    --orangeS-buttons: #F19E76;
    --purple-color: #8E356A;
    --pink-color: #E390C2;
    --green-color: #A3D35F;
    --button-radius: 14px;
}

.headerControl{
    background-color: var(--main-color);
    width: 100%;
    height: 50;
    display: flex;
    justify-content: space-around;
}

.headerNutricion{
    background-color: var(--orange-color);
    width: 303px;
    height: 50;
    display: flex;
    justify-content: space-around;
}

.headerComunidad{
    background-color: var(--purple-color);
    width: 303px;
    height: 50;
    display: flex;
    justify-content: space-around;
}
.tituloCosControl{
    color:var(--main-color);
    font-size: 40px;

}
h1{
    font-size: 30px;
    color:whitesmoke;
    font-family: 'lemonmilk';
}
.logoHeader{
    width: 86px;
    height: 61px;
}

.logoLogIn{
    width: 300px;
    height: auto;

}
